.vscode/
DriverStation/__pycache__
DriverStation/venv
RobotCode/Calibration/venv
RobotCode/build
compile_commands.json
.cache

# Robot Code Subprojects
RobotCode/subprojects/*
!RobotCode/subprojects/asio.wrap